<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                  <div class="item header">
                    <i class="coffee icon"></i><em>Blog Site</em>
                  </div>
                  <a class="item" href="/">
                    Home
                  </a>
                  <a class="item" href="/blogs/new">
                    NewPost
                  </a>
                </div>
            </div>
        </div>
        
